<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header
      th:fragment="header"
      class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#223649] px-10 py-3"
    >
      <div class="flex items-center gap-4 text-white">
        <div class="size-4">
          <svg
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M24 4L6 14L24 24L42 14L24 4Z" fill="currentColor" />
            <path
              d="M6 24L24 34L42 24"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6 34L24 44L42 34"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h2
          class="text-white text-lg font-bold leading-tight tracking-[-0.015em]"
        >
          GearHub
        </h2>
      </div>
      <div class="flex flex-1 justify-end gap-8">
        <div class="flex items-center gap-9">
          <a
            class="text-white text-sm font-medium leading-normal hover:text-[#1565c0] transition-colors"
            href="#"
            th:href="@{/}"
            >Home</a
          >
          <a
            class="text-white text-sm font-medium leading-normal hover:text-[#1565c0] transition-colors"
            href="#"
            th:href="@{/sobre}"
            >Sobre</a
          >
        </div>
      </div>
    </header>
  </body>
</html>
